/*重置样式从这里开始*/
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,input,form,a,p,textarea{
    margin:0;
    padding:0;
    font-family: "Adobe Fan Heiti Std B","Microsoft YaHei",Arial,sans-serif;
}

a{
    text-decoration: none;
    display: block;
    /* color:white;*/
}

img{
    border:none;
    /*display: block;*/
}

.clearfloat{
    zoom: 1;
}

.clearfloat:after{
    display:block;
    clear:both;
    content: "";
    visibility: hidden;
    height:0;
}

/*重置样式从这里结束*/

html { font-size: 20px; }
body {
    background-color: #f6f6f6;
}
/*导航栏*/

.top-head-bar {
    height: 2.25rem;
    width: 100%;
    background-color: #67C7C7;
}

.top-head-bar h4 {
    color: #fff;
    text-align: center;
    line-height: 2.25rem;
    font-weight: 400;
}

nav {
    height: 40px;
    width: 100%;
    background-color: #fff;
}

nav ul {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-around;

    text-align: center;
}

nav li {
    width: 2.8rem;
    line-height: 1.85rem;
    list-style: none;
}

nav li a {
    font-size: 16px;
    color: #2f2f38;
    font-weight: 500;
}

nav li:first-child {
    box-sizing: border-box;
    border-bottom: 3px solid #67C7C7;

}

.top-banner img{
    width: 100%;
}

.top-tags {
    height: 14.1rem;
    width: 100%;
    background-color: #fff;
    margin-top: -.25rem;
}

.top-tags>ul {
    width: 90%;
    height: 5.8rem;
    margin-left: 5%;
    text-align: center;
    display: -webkit-flex;
    justify-content: space-around;
    align-items: center;

    border-bottom: 1px solid #e3e3e3;

}

.top-tags li {
    list-style: none;
    text-align: center;
}


.top-tags p {
    font-size: 15px;
    color: #2f2f38;
    font-weight: 500;
}

.tags-img:before {
    content: " ";
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: #67C7C7;
    display: block;
    margin-bottom: .7rem;
}

.top-tags-col {
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

.top-tags-common {
    box-sizing: border-box;
    -webkit-flex-grow: 1;
}

.top-tags-common>img {
    height: 4rem;
    width: 3.5rem;
}

.top-tags-common>h3 {
    font-size: 18px;
    font-weight: 600;
    color: #2f2f38;
}

.top-tags-common>p {
    font-size: 14px;
}

.top-tags-col1 {
    border-right: 1px solid #e3e3e3;
}

.top-tags-col2 {
    border-right: 1px solid #e3e3e3;
}

.main-part-one {
    height: 13rem;
    width: 100%;
    background-color: #fff;
    margin-top: .5rem;
}

.main-part-one>h3 {
    font-size: 18px;
    color: #2f2f38;
    width: 90%;
    margin-left: 5%;
    line-height: 2.2rem;
    border-bottom: 1px solid #e3e3e3;
}


.main-part-img {
    display: inline-block;
    position: absolute;
    margin-top: .5rem;
    margin-left: 5%;
    height: 10.1rem;
}

.main-part-img img {
    width: 4.4rem;
    display: block;
    padding: .2rem 0;
}

.content-wrap {
    margin-left: 30%;
}

.part-one-content {
    margin-left: 5%;
    margin-top: .5rem;
    height: 10.1rem;
    display: -webkit-flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
    overflow: hidden;

}
.part-one-content li {
    list-style: none;
    /*margin:.1rem .2rem;*/
    margin: .2rem;
    background-color: #f2f2f2;
    line-height: 2rem;
    width: 41%;
}

.part-one-content li>h5 {
    font-size: 16px;
    font-weight: 500;

    text-align: center;
}

.articles {
    height: 17.5rem;
    background-color: #fff;
    margin-top: .5rem;
}

.articles div>img {
    width: 5.4rem;
    height: 3.8rem;
}

.article1 {
    height: 4.8rem;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #e3e3e3;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    align-items: flex-start;
}

.article1>img {
    margin-left: 5%;
    margin-top: .5rem;
}

.article1>h4 {
    width: 55%;
    height: 3rem;
    word-break: break-all;

    font-size: 18px;
    color: #616174;
    padding-top: .5rem;
    /*padding-left: .5rem;*/
    line-height: 1.2;
}

.article1>p {
    font-size: 13px;
    color: #6e6e6e;
    /*padding-left: .5rem;*/
}

.article3 {
    height: 7.5rem;
    width: 90%;
    margin-left: 5%;
}

.article3>h4 {
    word-break: break-all;
    font-size: 18px;
    color: #616174;
    padding-top: .5rem;
    line-height: 1.2;
}

.img-container {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .5rem;
    overflow: hidden;
}

.img-container>img {
    padding-right: 8px;
    max-width: 32%;
    height: auto;

}

.article3>p {
    font-size: 13px;
    color: #6e6e6e;
    padding-top: .5rem;
}

footer {
    height: 52px;
    width: 100%;
    background-color: #f7f7f7;
    position: fixed;
    z-index: 10;
    bottom: 0;
    display: block;
}